<%= bootstrap_form_for(@person) do |f| %>
  <div class="field">
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit submit_button_text, :include_cancel => false %>
  </div>
<% end %>
