<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @person.username %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Password:</b>
  <%= @person.password %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
